 .my_navbar{
  padding: 10px;
  border: 5px groove #4064AC ;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin:10px;
  margin-top: 20px;
 }
  
 .my_navbar > span{
  margin-top: 10px;
  margin-right: 10px;
 }
.banner{
  margin: 30px;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid black;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
}
.banner > img{
  width: 60%;
  height: 400px;
}

.title{
  margin-top: -200px
}

.body > div{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
}

.body > h1{
  text-align: center;
}
.favourite{
  margin-top: 20px;
  padding: 20px;
  
}
.movie_card {
  width: 200px;
  height: 410px;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  position: relative;
}
.movie_card > button{
  position: absolute;
  bottom: 50px;
  left: 10%;
}
.movie_card > a > img{
  width: 100%;
}